.DS_Store
*.log
*.txt


communication/.DS_Store
communication/__pycache__/
communication/consumed_topics
communication/test_results


configuration/.DS_Store
configuration/out.xml
configuration/ssm.out.xml

simulation/__pycache__
simulation/.idea

